In [4]:
x = 'constitution'            #slicing
x [6:9:1]

'tut'

In [7]:
x = 'Hello'
y = "World"
print(x+y)

HelloWorld

In [8]:
x = 'Hello'
y = "World"
print(x,y)

Hello World

In [6]:
x = '   Pyanshu ZX    '      # strip 
x.strip()

'Pyanshu ZX'

In [6]:
a = "Hello\tWorld"            #give 4 spaces like tab
print(a)

Hello	World

In [8]:
a = "Hello \b World"           #remove 1 backspace before the \b function
print(a)

Hello World

In [9]:
a = "Hello \n World"           #give new line after \n function
print(a)

Hello
 World

In [10]:
x = "Fisih"                      #use of replace in all "i" alphabet
x.replace("i", "a")

'Fasah'

In [11]:
x = "fisih"
replace = x[0] + "aqua" + x[2:]               #use of replace in specific alphabet
print(replace)

faquasih

In [17]:
x = "manishhhhhhhhhhhhphhhhh"            #use of index is used to find the first occurrence of a specified value
x.index("p")

17

In [20]:
x = "DATASPACEACADEMY"
for i in x:
    print(i)

D
A
T
A
S
P
A
C
E
A
C
A
D
E
M
Y

In [29]:
for i in range(0,11,1):    #End func print vertically
    print(i, end="")

012345678910

In [1]:
sum = 0 
for i in range(1,10):       # for loop(sum)
    sum += i
print(sum)

45

In [13]:
number = [10,20,30,40,50,60]
sum = 0
for i in number:                  # for loop (average) 
    sum += i

total_number = len(number)
average = sum/total_number
print(average)

35.0

In [16]:
sum=0
for i in range(5):
    sum+= int(input(f"Enter element {i+1}: "))
print("avg", sum/5)

Enter element 1:  1
Enter element 2:  2
Enter element 3:  3
Enter element 4:  4
Enter element 5:  5

avg 3.0

In [38]:
numbers = [1, 4, 5, 7, 2, 8]  
number = 0
for number in numbers:
    if number < 5:               #if number less than 5 then add 10 to it (By using Assignment operator)
        number += 10  
    print(number)

11
14
5
7
12
8

In [37]:
n = 3
if n < 5:                          #if number less than 5 then add 10 to it(normally) 
    print(n + 10)

13

In [58]:
gender = input("Enter Gender")
if gender == "Male":
    print("Welcome Buddy")
else:                              #use of input function as well as if-else function
    print("Welcome Mam")

Enter Gender Female

Welcome Mam

In [9]:
m = float(input("Enter the marks: "))
if m>=90:
   print("Grade : A")
elif m>=80:
   print("Grade : B")
elif m>=70:
   print("Grade : C")
elif m>=60:
   print("Grade : D")
else: 
    print("Grade : F")

Enter the marks:  20

Grade : F

In [2]:
count = 1
while count <11:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [10]:
number = int(input("Enter the number you want table"))
i = 1
while i<11:                                              #find table of specific number 
    print(number*i)
    i += 1

Enter the number you want table 54

54
108
162
216
270
324
378
432
486
540

In [14]:
count = 0
number = int(input("Enter any number"))
while number > 10:
    number = number / 3
    count += 1
print('Total iteration required',count)

Enter any number 180

Total iteration required 3

In [ ]:
number = int(input('Enter any number between 100 and 500'))
while number < 100 or number > 500:
    print("Incorrect number, Please enter correct number: ")
    number = int(input("Enter a number between 100 and 500"))
else:
    print("Given number is Correct", number)