In [4]:
n = int(input("Enter a number to get Table"))
i = 1
while i<=10:
    print(n*i)
    i += 1

Enter a number to get Table 25

25
50
75
100
125
150
175
200
225
250

In [6]:
x = 5
print()

3125

In [1]:
i = 1
while i in range(1,10):
    print(i ** 2)
    i += 1

1
4
9
16
25
36
49
64
81

In [5]:
first = 'Pyanshu '
last = 'Shaw'
full = first+last             #use of concatinate (+)
print(full)

Pyanshu Shaw

In [7]:
x = '10'
y = '20'                    #use of concatinate with numbers
x+y

'1020'

In [14]:
age = "23"
text = "My name is Pyanshu, I'm"
text1 = "years old"                    #use of concatinate with comma(,)
print(text,age,text1)

My name is Pyanshu, I'm 23 years old

In [18]:
a = "   Hello World!     "
print(a.strip())
a

Hello World!

'   Hello World!     '

In [19]:
a = 'Sundey'
a.replace('e','a')

'Sunday'

In [24]:
for i in range(1,11,1):
    print(i,end="-")

1-2-3-4-5-6-7-8-9-10-

In [32]:
sum = 0
for i in range(1,5):
    sum += i
    print(sum)

1
3
6
10

In [35]:
n = [10,20,30,40,50,60,70]
sum = 0
for i in n:
    sum += i
length = len(n)
avg = sum/length
print(avg)

40.0

In [42]:
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [50]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [63]:
for i in range(1,6):
    print(i ** 2,end = " ")
    i += 1

1 4 9 16 25

In [71]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [76]:
odd = 0
for i in range(0,21):
    if i % 2 != 0:
        odd += i
print(odd)

100

In [77]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [85]:
n = 3
for i in range(1,11):
    print(i*n)
    i+=1

3
6
9
12
15
18
21
24
27
30