In [23]:
import pandas as pd
a = pd.read_excel('C:/Users/Administrator/Desktop/Excel/Patient_Dataset.xlsx')
print(a)                                                    # Reading an Excel or CSV file

     PatientID      PatientName  Age Gender BloodType     Diagnosis  \
0            1    David Johnson    3  Other        A+           Flu
1            2                A   82  Other        A-      Covid-19
2            3   William Taylor   56  Other        B+  Hypertension
3            4    William Davis   36  Other       AB+      Covid-19
4            5     Robert Davis   78   Male        B+           Flu
..         ...              ...  ...    ...       ...           ...
995        996      Linda Lopez    3   Male        B-      Covid-19
996        997     David Martin    3  Other        A-  Hypertension
997        998              HHH   70  Other        O+      Covid-19
998        999  Joseph Martinez   37  Other        A-      Diabetes
999       1000       John Moore   10   Male        O-        Asthma

      Treatment AdmissionDate DischargeDate     TotalBill  \
0    Medication    2021-01-01    2021-01-02  14383.782354
1    Medication    2021-01-02    2021-01-03  15512.302210
2       Therapy    2021-01-03    2021-01-04   4039.296436
3       Therapy    2021-01-04    2021-01-05   4226.498069
4       Surgery    2021-01-05    2021-01-06   2562.768983
..          ...           ...           ...           ...
995     Therapy    2023-09-23    2023-09-24  18796.590764
996     Surgery    2023-09-24    2023-09-25   7505.551827
997     Surgery    2023-09-25    2023-09-26  13635.508703
998  Medication    2023-09-26    2023-09-27   6075.690059
999  Medication    2023-09-27    2023-09-28  19775.994121

                             Full Prescription Details
0    Furosemide 40mg, three times a day for 5 days;...
1    Losartan 50mg, twice a day for 7 days; Amoxici...
2    Amlodipine 5mg, twice a day for 5 days; Gabape...
3    Azithromycin 250mg, three times a day as neede...
4    Duloxetine 60mg, three times a day for 5 days;...
..                                                 ...
995  Gabapentin 300mg, once a day for 10 days; Omep...
996  Insulin Glargine 100 units/mL, once a day as n...
997  Furosemide 40mg, once a day for 5 days; Ibupro...
998  Atorvastatin 10mg, three times a day for 5 day...
999  Hydrochlorothiazide 25mg, once a day for 7 day...

[1000 rows x 11 columns]

In [25]:
import pandas as pd
a = pd.read_excel('C:/Users/Administrator/Desktop/Excel/Patient_Dataset.xlsx')
print(a.head(5))                                                       # Get top 5 Data by using head()

   PatientID     PatientName  Age Gender BloodType     Diagnosis   Treatment  \
0          1   David Johnson    3  Other        A+           Flu  Medication
1          2               A   82  Other        A-      Covid-19  Medication
2          3  William Taylor   56  Other        B+  Hypertension     Therapy
3          4   William Davis   36  Other       AB+      Covid-19     Therapy
4          5    Robert Davis   78   Male        B+           Flu     Surgery

  AdmissionDate DischargeDate     TotalBill  \
0    2021-01-01    2021-01-02  14383.782354
1    2021-01-02    2021-01-03  15512.302210
2    2021-01-03    2021-01-04   4039.296436
3    2021-01-04    2021-01-05   4226.498069
4    2021-01-05    2021-01-06   2562.768983

                           Full Prescription Details
0  Furosemide 40mg, three times a day for 5 days;...
1  Losartan 50mg, twice a day for 7 days; Amoxici...
2  Amlodipine 5mg, twice a day for 5 days; Gabape...
3  Azithromycin 250mg, three times a day as neede...
4  Duloxetine 60mg, three times a day for 5 days;...

In [27]:
import pandas as pd
a = pd.read_excel('C:/Users/Administrator/Desktop/Excel/Patient_Dataset.xlsx')
print(a.tail(4))                                                       # Getting least 4 Data by using tail()

     PatientID      PatientName  Age Gender BloodType     Diagnosis  \
996        997     David Martin    3  Other        A-  Hypertension
997        998              HHH   70  Other        O+      Covid-19
998        999  Joseph Martinez   37  Other        A-      Diabetes
999       1000       John Moore   10   Male        O-        Asthma

      Treatment AdmissionDate DischargeDate     TotalBill  \
996     Surgery    2023-09-24    2023-09-25   7505.551827
997     Surgery    2023-09-25    2023-09-26  13635.508703
998  Medication    2023-09-26    2023-09-27   6075.690059
999  Medication    2023-09-27    2023-09-28  19775.994121

                             Full Prescription Details
996  Insulin Glargine 100 units/mL, once a day as n...
997  Furosemide 40mg, once a day for 5 days; Ibupro...
998  Atorvastatin 10mg, three times a day for 5 day...
999  Hydrochlorothiazide 25mg, once a day for 7 day...

In [29]:
a.describe()               # Describe() shows data representation only for numeric values

,PatientID,Age,AdmissionDate,DischargeDate,TotalBill
count,1000.000000,1000.000000,1000,1000,1000.000000
mean,500.500000,50.500000,2022-05-15 12:00:00,2022-05-16 12:00:00,9436.534952
min,1.000000,0.000000,2021-01-01 00:00:00,2021-01-02 00:00:00,0.000000
25%,250.750000,26.000000,2021-09-07 18:00:00,2021-09-08 18:00:00,3885.035879
50%,500.500000,51.500000,2022-05-15 12:00:00,2022-05-16 12:00:00,9361.082648
75%,750.250000,75.000000,2023-01-20 06:00:00,2023-01-21 06:00:00,14552.941322
max,1000.000000,99.000000,2023-09-27 00:00:00,2023-09-28 00:00:00,19979.201527
std,288.819436,28.599859,NaN,NaN,6109.727794

In [31]:
print(a.isnull().sum())           # Shows all null values presented in the Data and sum is for count null value

PatientID                    0
PatientName                  0
Age                          0
Gender                       0
BloodType                    0
Diagnosis                    0
Treatment                    0
AdmissionDate                0
DischargeDate                0
TotalBill                    0
Full Prescription Details    0
dtype: int64

In [39]:
print(a['PatientID'].duplicated().sum())       # duplicate data which is presented in particular Column and count

0

In [41]:
print(a['PatientID'].duplicated())             # duplicate data which is presented in particular Column

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: PatientID, Length: 1000, dtype: bool